@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
html, body, #root, .App {
  height: 100%;
}
body {
  position: relative;
}

/* Search form */
.search-form-wrapper {
  max-width: 550px;
  margin: 0 auto;
  padding: 0 30px;
}
.search-form {
position: relative;
}
.search-form input {
  display: block;
  width: 100%;
  padding: 30px;
  border: 2px solid #0a0b0a;
  outline:  #0a0b0a;
  font-size: 20px;
}
.search-form .indicators {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border: 2px solid #0a0b0a;
}
.search-form .indicators .loading {
  background: #6677b9;
  color: #21194e;
  padding: 10px;
}
.search-form .indicators .error {
  background: #ef7197;
  color: #9a1111;
  padding: 10px;
}
.search-form .search-list {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border: 2px solid #0a0b0a;
  max-height: 200px;
  overflow: auto;
}
.search-form .search-list::-webkit-scrollbar {
  display: none;
}
.search-form .search-list a {
  color: #000;
}
.search-form .search-list .city-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
}
.search-form .search-list .city-wrapper:hover {
  background-color: #ccc;
}


/* GymDetail */



 /* Utility style */ 
label, input {
  display: block;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.none {
  display: none;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}  
@media (min-width: 768px) {
  .desktop-hidden {
    display: none;
  }
}