.header-wrapper {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 0 8px rgb(0 0 0 / 10%);
  }
  .header-container {
    height: 75px;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-wrapper a {
    color: #000;
  }
  .header-navbar {
    display: flex;
    align-items: center;
  }
  .manage-gyms {
    font-size: 1rem;
    background-color: #fff;
    color: #363f45;
    border: 1px solid #363f45;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 25px;
    transition: 0.5s;
  }
  .login, .signup, .logout {
    font-size: 1rem;
    background-color: #363f45;
    color: #fff;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 25px;
    border: 1px solid white;
    transition: 0.5s;
  }
  .login:hover, .signup:hover, .logout:hover {
    background-color: #fff;
    color: #363f45;
    border: 1px solid #363f45;
  }
  .ham-menu {
    display: none;
  }
  .ham-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .signup-options {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    flex-direction: column;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .signup a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: #000;
    padding: 20px;
    border-top: 1px solid #ccc;
  }
  .signup a:hover {
    background: #ccc;
  }

  @media (max-width: 768px) {
    .header-navbar {
        position: fixed;
        left: -100%;
        top: 75px;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s;
        background-color: #fff;
        border-top: 1px solid #000;
    }
    .header-navbar.active {
      left: 0;
    }
    .header-navbar > * {
      margin: 10px 0px;
      width: 60%;
    }
    .ham-menu {
      display: block;
    }
    .ham-menu.active .bar:nth-child(2) {
      opacity: 0;
    }
    .ham-menu.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .ham-menu.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }  