.home-wrapper::before {
    content: "";
    background: url('../public/background.jpg');
    background-position: center 65px;
    background-size: cover;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .home-wrapper::after {
    content: "";
    background: #000;
    opacity: 0.3;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .content-wrapper {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .content-wrapper h2 {
    color: #fff;
    font-size: 4rem;
    margin: 0px auto 30px auto;
    max-width: 1000px;
  }

  @media (max-width: 768px) {
    .content-wrapper h2 {
      font-size: 2rem;
    }
  }  
  